{{extend 'layout.html'}}

<div class="row">
  <div id="web2py_user_form" class="container col-lg-6 profile-form">
    <h2>
      {{=T('Sign Up') if request.args(0) == 'register' else T('Log In') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}
    </h2>
    {{=form}}
    {{if request.args(0)=='login' and not 'register' in auth.settings.actions_disabled:}}
    <a href="{{=URL('user/register')}}">{{=T('Register')}}</a>
    <br/>
    {{pass}}
    {{if request.args(0)=='login' and not 'retrieve_password' in auth.settings.actions_disabled:}}
    <a href="{{=URL('user/retrieve_password')}}">{{=T('Lost your password?')}}</a>
    {{pass}}
    {{if request.args(0)=='register':}}
    <p class="text-center">***Only first name and last initial will ever be displayed. Last name and email will be seen by admin only.***</p>
    <a href="{{=URL('user/login')}}">{{=T('Login')}}</a>
    {{pass}}
  </div>
</div>

{{if request.args(0)=='profile':}}
<br>
<!--TOP TEN PICKS-->
<div class="row">
    <div class="container col-lg-6 profile-form">
        <h2>Top-10 Picks (2022)</h2>
        <ul>
            {{for x in current.auth_user.top_ten_picks[1:]:}}
            <li>{{=x}}</li>
            {{pass}}
        </ul>
    </div>
</div>
<br>
<!--PAST RESULTS-->
<div class="row">
    <div class="container col-lg-6 profile-form">
        <h2>Past Results</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>YEAR</th>
                    <th>RANK</th>
                </tr>
            </thead>
            {{ if len(current.auth_user.twenty_one_placement) > 0: }}
            <tr>
                <td>2021</td>
                <td>{{=current.auth_user.twenty_one_placement}}</td>
            </tr>
            {{pass}}
        </table>
    </div>

</div>
<br>
{{pass}}


{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
</script>
{{end page_js}}
