{{extend 'layout.html'}}
<br>
<div class="container col-lg-4 col-md-7 col-10">
    <h2 class="headings">STANDINGS</h2>
</div>
<div class="container col-lg-4 col-md-7 col-10">
    <div class="standings-form">
        {{=form}}
    </div>
    <table class='table table-hover pga-table'>
        <thead class="thead-dark">
            <tr>
                <th>Pos</th>
                <th>Player</th>
                <th>Total</th>
            </tr>
        </thead>
        {{ for x in standings: }}
            <tr>
                <td>{{=x["place"]}}</td>
                {{ if x["id"] == current.auth_user.id: }}
                    <td class="current-user">{{=x["fname"]}} {{=x["lname"]}}</td>
                {{ else: }}
                    <td>{{=x["fname"]}} {{=x["lname"]}}</td>
                {{ pass }}
                <td>{{=x["points"]}}</td>
            </tr>
        {{pass}}
    </table>
</div>
<br>
